.nav1{
    display: flex;
    justify-content: space-between;
    background-color: darkcyan;
    height: 65px;
    align-items: center;
    width: 100%;
}
.logo{
    width: 10%;
}
.logo>img{
    width: 100px;
    height: 65px;
    mix-blend-mode: darken;
}
.profile>img{
    width: 40px;
    height: 40px;
    mix-blend-mode: darken;
}
.items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}
.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.options>.wishlist{
    display: flex;
    justify-content: space-around;
    width: 10%;
    
}
.wishlist a{
    color: white;
    text-decoration: none;
}
.d1{
    display: block;
    position: absolute;
    transform: translate(-50px,10px);

}
.d1 a{
    display: block;
    width: 100px;
    height: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px gray;
    text-decoration: none;
    padding: 5px;
}
.d1 a:hover{
    background-color: blue;
    color: white;
}
#l3{
    font-size: small;
}
.profile img:hover{
    display: block;
}
.hambarger{
    display: none;
    mix-blend-mode: color-dodge;
}
@media (max-width:768px){
    .hambarger{
        display: block;
    }
    .options{
        display: none;
    }
}
.items a{
    text-decoration: none;
    color: white;
    font-size: large;

}
.search{
    display: flex;
}

