.mobile1{
    height: 600px;
    width: 300px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
  
}
.image1{
    height: 18em;
    width: 10em;
 
}
.details1 h1{
    font-size: 19px;
}
.image1 img{
    offset: contain;
}
.image1 img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.view1{
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
}
#discount{
    display: inline-block;
    font-size: 18px;
    color: crimson;
}
.b1{
    margin-right: 100px;
}